body {
    font-family: "Arial", Arial;
    color: #111111;
    font-size: 12pt;
    text-align: center;
}

.tiny {
    font-size: 7pt;
}

#go {
    display: inline-block;
}

/* Positioning ids */

#top-left {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#top-right {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#bottom-left {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-right {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

