html {
    background-repeat: repeat;
    background-image: url("Leafy Bush.bmp");
    background-attachment: fixed;
    z-index:-1;
}
h1 {
    position: relative;
    min-width:80vw;
    font-size: 100px;
    font-size: 5vmax;
    margin: 0;
    padding-bottom:5px;
    font-family: verdana, arial, sans-serif;
    text-shadow: 2px 3px 3px #292929;
    -webkit-text-stroke: 1px #777;

}
h1 cover {
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    text-shadow: 0 2px 0 #e9e9e9;
   /* -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;*/
}

h1 cover:hover {
    position: absolute;
    color: #25255e;
-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,.3)), to(rgba(0,0,0,1)));

}
h1:after {
    color: #dbdbdb;
    content : attr(data-title);
}
.title{
    position:relative;
    text-align: center;
    width:100%;
    height:20%;
}


.content {
    width:100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#status {
    text-align: center;
}
.container{
    padding: 0;
    text-align:center;
    float: left;
}

.chatWindow{
    overflow-y: scroll;
    height: 450px;
    width: 450px;
    border: solid 1px #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
}

.leftColumn{
    position: absolute;
    left: 0px;
    padding-right: 5%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

.rightColumn{
    position: absolute;
    right: 0px;
    padding-left: 5%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

.center{
    position: absolute;
    right:20%;
    left:20%;
    background-color: #696969;
    z-index: 9;
    
}

.static{
    position: static;
    height:5vh ;
}

/*NAV BAR YOLO*/
ul {
    position:fixed;
    list-style-type: none;
    top:0px;
    left:0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    background-color: #6be1fc;
    z-index: 9001;
}

li {
    float: left;
}

li a {
    height:4vh;
    max-height: 12px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1vw;
    display: block;
    color: #3c3c3c;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #2b8bd4;
}


canvas {
    background: white;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.normalTextArea{
    text-align: center;
    resize: none;
    width: 100%;
}



/* Super troll parallax shit. Can't have a website in 2017 without parallax /s */
/* to maintain size: scale = 1 + (ztranslate * (-1)) / perspective */

.parallax {
    perspective: 500px;
    perspective-origin: x 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  
}
.parallax__layer {
    transform-origin: 100%; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
    z-index: 2;
}
.parallax__layer--back {
    transform: translateZ(-500px) scale(2);
    z-index: 1;
}
.parallax__layer--fore {
    transform: translateZ(300px) scale(.5);
    z-index: 3;
}
/* why u no work???? */
.parallax__layer--nitro {
    transform: translateZ(400px) scale(.3);
    z-index: 30;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax__group--debugger {
    transform: translate3d(200px, 0, -200px) rotateY(20deg);
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

/* I guess this does something to stop small creen breakage? */
@media only screen and (max-width: 600px){

    li a { 
      font-size: 4vw; 
      min-height: 3vh;
   }
   
   ul{
       min-height: 4vh;
   }
   
   .static{
       height:8vh;
   }
}
