/* The basic stylesheet for Questionable Battleship */

body {
    font-family: "Arial", Arial;
    color: #111111;
    font-size: 12pt;
}

p {
    text-align: center;
}

ul {
    list-style: none;
}

/* ??? */
image {
    margin: 0;
    padding: 0;
}

.dashed {
    border: 1px dashed #444;
}

#title {
    font-weight: bold;
    font-family: "Arial", Arial;
    font-size: 3em;
}

.heading {
    font-weight: bold;
    font-family: "Arial", Arial;
}

#room{
    font-weight: bold;
    font-family: "Arial", Arial;
    font-size: 2.5em;
}

#game {
    max-width: 80%;
    min-width: 5cm; /* Look, I tried */

    height: auto; /* ??? */

    margin: auto;
    width: inherit; /* ????????????? */

    text-align: center;
}

.container {
    /* border: 1px dashed #444; */
    min-width: 100%;

    text-align: justify;
}

.container > .box {
    vertical-align: top;
    display: inline-block;
    min-width: 5em;
}

.container > .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}

.player-list {
    /* Nothing yet */
}

.player-mugshot {
    /* Nothing yet */
}

button {
    margin: auto;
    width: auto;
}

/* Core gameplay elements */

#not-title {
    display: table;
    width: 100%;
}

#sidebar {
    width: 10em;
    border: 1px dashed #444;
    display: table-cell;
    position: relative;
    text-align: center;
}

#sidebar p {
    padding: 0;
    margin: 1.5px;
}

#sidebar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid purple;
    width: 100%;
    max-width: 100%;
}

#canvas {
    border: 1px dashed #444;
    display: table-cell;
    width: auto;
}

#canvas .row {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

#canvas .spot.top {
    border-top: 1px solid blue;
}

#canvas .spot.left {
    border-left: 1px solid blue;
}

#canvas .spot {
    min-width: 1cm;
    max-width: 1cm;
    min-height: 1cm;
    max-height: 1cm;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#canvas .tracking.spot:hover {
    background-color: rgba(80, 00, 80, 0.4) !important;
}

#sidebar-bottom .row {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

#sidebar-bottom .spot.top {
    border-top: 1px solid blue;
    margin-top: 3px;
}

#sidebar-bottom .row.bottom {
    margin-bottom: 3px;
}

#sidebar-bottom .spot.left {
    border-left: 1px solid blue;
}

#sidebar-bottom .spot {
    min-width:  0.8em;
    max-width:  0.8em;
    min-height: 0.8em;
    max-height: 0.8em;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.spot.hit {
    background-color: red !important;
}

.spot.miss {
    background-color: slategrey !important;
}

#popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(206, 206, 206, 0.5);
    z-index: 999;
    text-align: center;
    vertical-align: middle;
}

.dashed-border {
    border-top: 3px dashed;
    border-bottom: 3px dashed;
    border-right: 3px dashed;
    border-left: 3px dashed;
    padding: 0.3em !important; /* For clarity */
}

.selected, .alive {
    font-weight: bold;
    /* text-decoration: underline; */
}

.inactive, .dead {
    color: #666666;
}

#popup-wrapper > .align-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

#popup-wrapper > #popup-msg {
    display: inline-block;
    background: white;
    border: 1px solid black;
    vertical-align: middle;
    padding: 2em;
}

/* Positioning ids */

#top-left {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#top-right {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#bottom-left {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-right {
    max-width: 30%;
    min-width:5em;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

