* { 
    margin:0; 
    padding:0; 
} 

div {
    display: block;
}
html {
    background-repeat: repeat;
    background-image: url("/web/images/canvas/backgrounds/Leafy Bush.bmp");
    background-attachment: fixed;
    z-index:-1;
}
h1 {
    position: relative;
    font-size: 64px;
    margin: 0;
    font-family: verdana, arial, sans-serif;
    text-shadow: 2px 3px 3px #292929;
    letter-spacing: -5px;
    -webkit-text-stroke: 1px #777;

}
h1 cover {
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    text-shadow: 0 2px 0 #e9e9e9;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

h1 cover:hover {
    color: #25255e;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,.3)), to(rgba(0,0,0,1)));

}
h1:after {
    color: #dbdbdb;
    content : attr(data-title);
}

body {
    margin: 0px;
}

p {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.title {
    text-align: center;
}

.container {
    width: 100%;
    padding: 0;
    text-align:center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
}

.inner {
    display:table-cell;
    vertical-align: middle;
    padding: 0;
}

canvas {
    border:0px solid black;
    background: white;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
}


textarea {
    text-align: center;
    resize: none;
    width: 80%;
}

#chatDiv {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#chatText {
	border: solid 1px #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	overflow-y: scroll;
	background: white;
	position: absolute;
	width: 95%;
	right: 2.5%;
	top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#entryField {
    position: absolute;
    resize: none;
    width: 95%;
    height: 24px;
    text-align: left;
    bottom: 5px;
    right: 2.5%;
}

#entryButton {
    position: absolute;
    resize: none;
    width: 20%;
    height: 20px;
    bottom: 8px;
    right: 3.5%;
    -webkit-border-radius: 0px
}

#chatText p {
    font-size: 1em;
	line-height: 150%;
	text-align: left;
	text-indent: 10%;
}

#canvasContainer {
}
#optionsContainer {
    background-image: url("/web/images/canvas/wallpapers/Boston City Flow.jpg");
} 
#stuffContainer {
    background-image: url("/web/images/canvas/wallpapers/hipstertrack.jpg");
}
#anotherContainer {
    background-image: url("/web/images/canvas/wallpapers/ubuntu9.png");
}